:host {
  display: block;
  height: 132px;
  background-color: var(--background-color);
}

.site-title {
  margin: 8px;
}

#navbar-top {
  background-color: white !important;
  border-bottom: 5px solid #f8f9fa;
}

.navbar {
  padding: 0 4px 0 4px;
  background-color: #ffffff;
}

.navbar-brand {
  padding: 0;
  margin: 0;
}

.navbar-buttons {
  background-color: transparent;
  padding: 4px 4px 0 4px;
}

.navbar-buttons button:not(:last-child) {
  margin-right: 8px;
}

.navbar-buttons button:not(.navbar-toggler) {
  border: 1px solid;
  box-shadow: 0px 4px 4px 2px rgba(0, 0, 0, 0.1);
  min-width: fit-content;
  margin-bottom: 8px;
  outline: none !important;
}

.navbar-buttons .dropdown {
  min-width: fit-content;
}

#navbar-brand-logo {
  margin-top: -4px;
  padding-bottom: 4px;
}

.nav-subtitle {
  font-weight: bold;
  font-size: 12px;

  position: absolute;
  bottom: 4px;

  color: black;
  text-decoration: none;
}

.name-display {
  position: absolute;
  left: calc(50% + 180px);
  top: 42px;
}

#logo-subtitle {
  right: 72px;
}

#brand-subtitle {
  left: 72px;
}

.navbar-toggler {
  margin-left: auto;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  border: none !important;
  outline: none;
  box-shadow: none;
}
