<div class="fixed-top">
  <!-- Top Bar -->
  <div class="navbar navbar-light bg-light" id="navbar-top">
    <!-- Left Logo -->
    <a class="navbar-brand pull-left" id="navbar-brand-logo" href="#">
      <img src="assets/images/logo-site.svg" alt="site logo" height="64">
    </a>
    <!-- Title Text -->
    <h1>{{title}}</h1>
    <!-- Right Logo -->
    <a class="navbar-brand pull-right" href="https://www.hva.nl/">
      <a id="logo-subtitle">{{subtitleLogo}}</a>
      <img src="assets/images/logo-school.svg" alt="school logo" height="64">
    </a>
  </div>
  <!-- Bottom Bar -->
  <nav class="navbar navbar-buttons w-100">
    <div class=""href="#">
          <!-- Left Logo -->
      <button type="button" class="btn btn-primary pull-left">Home</button>
      <button type="button" class="btn btn-primary">My Events</button>
      <div class="dropdown">
        <button class="btn btn-primary dropbtn">My Registrations</button>
        <div class="dropdown-content">
          <a href="#">Active</a>
          <a href="#">History</a>
        </div>
      </div>
      <button type="button" class="btn btn-primary">My Account</button>
    </div>
    <div class="float-right">
          <!-- Left Logo -->
      <button type="button" class="btn btn-primary pull-left">Sign Up</button>
      <button type="button" class="btn btn-primary">Log In</button>
    </div>
  </nav>

</div>


