<div class="fixed-top">
  <!-- Top Bar -->
  <div class="navbar navbar-light bg-light" id="navbar-top">
    <!-- Left Logo -->
    <a class="navbar-brand pull-left" id="navbar-brand-logo">
      <img src="assets/images/logo-site.svg" alt="site logo" height="64">
      <a class="nav-subtitle" id="brand-subtitle">{{getCurrentDate()}}</a>
    </a>
    <!-- Title Text -->
    <h1 class="site-title">{{title}}</h1>
    <!-- Right Logo -->
    <a class="d-none d-md-block navbar-brand pull-right" href="https://www.hva.nl/">
      <a class="nav-subtitle" id="logo-subtitle">{{subtitleLogo}}</a>
      <img src="assets/images/logo-school.svg" alt="school logo" height="64">
    </a>
    <button class="navbar-toggler d-md-none d-lg-none" type="button" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="navbarsExampleDefault" aria-label="Toggle navigation">
      <img src="assets/images/hamburger-menu.svg" alt="hamburger menu" height="42">
    </button>
  </div>

  <!-- Bottom Bar -->
  <nav class="navbar navbar-expand-md navbar-buttons w-100 bg-light">
    <div class="collapse navbar-collapse" id="navbarsExampleDefault" [ngbCollapse]="isCollapsed">
      <!-- Left Logo -->
      <button type="button" class="btn btn-primary pull-left" routerLink="/">Home</button>
<!--      <button type="button" class="btn btn-primary">My Events</button>-->
      <div class="dropdown">
        <button class="btn btn-primary dropbtn">My Events</button>
        <div class="dropdown-content">
          <a routerLink="events/overview1">All events list</a>
          <a routerLink="events/overview2">M/D (component store)</a>
          <a routerLink="events/overview3">M/D (from service)</a>
          <a routerLink="events/overview4">M/D (routeparams)</a>
        </div>
      </div>
      <div class="dropdown">
        <button class="btn btn-primary dropbtn">My Registrations</button>
        <div class="dropdown-content">
          <a href="#">Active</a>
          <a href="#">History</a>
        </div>
      </div>
      <button type="button" class="btn btn-primary">My Account</button>
      <div class="w-100"></div>
      <button type="button" class="btn btn-primary pull-left" routerLink="/signup">Sign Up</button>
      <button type="button" class="btn btn-primary" routerLink="/login">Log In</button>
    </div>
  </nav>
</div>


