:host {
  display: block;
  height: 120px;
  background-color: var(--background-color);
}

#navbar-top {
  background-color: white !important;
  border-bottom: 5px solid #f8f9fa;
}

.navbar {
  padding: 0 4px 0 4px;
  background-color: #ffffff;
}

.navbar-brand {
  padding: 0;
  margin: 0;
}

.navbar-buttons {
  background-color: transparent;
  padding: 4px 4px 0 4px;
}

.navbar-buttons button:not(:last-child) {
  margin-right: 8px;
}

.navbar-buttons button {
  border: 1px solid;
  box-shadow: 0px 4px 4px 2px rgba(0, 0, 0, 0.1);
}

#navbar-brand-logo {
  margin-top: -4px;
  padding-bottom: 4px;
}

#logo-subtitle {
  font-weight: bold;
  font-size: 12px;

  position: absolute;
  right: 72px;
  bottom: 4px;
}

