<div class="container-fluid bg-light" style="min-height: 100%">
  <div class="row">

    <!-- column 1 -->
    <div class="col-2 p-4" id="first-column">
      <label for="datepicker-home" class="mb-2">Pick a date</label>
      <input type="date" id="datepicker-home"> <!-- min, max, value, name -->

      <div class="mt-4">
        <p>Pick a category</p>
        <ul class="list-group">
          <a href="http://www.google.com" target="_blank" class="list-group-item">Sports</a>
          <a href="http://www.google.com" target="_blank" class="list-group-item">Markets</a>
          <a href="http://www.google.com" target="_blank" class="list-group-item">Festivals</a>
          <a href="http://www.google.com" target="_blank" class="list-group-item">Musea</a>
          <a href="http://www.google.com" target="_blank" class="list-group-item">Celebrations</a>
          <a href="http://www.google.com" target="_blank" class="list-group-item">LGBT+</a>
          <a href="http://www.google.com" target="_blank" class="list-group-item">Other</a>
        </ul>
      </div>
    </div>

    <!-- column 2 -->
    <div class="col bg-white d-flex flex-md-wrap justify-content-center" id="second-column">

      <!-- temp card examples -->
      <div class="card m-3" style="width: 18rem;">
        <a href="http://www.google.com" target="_blank">
          <img src="../../../../assets/images/pexels-liam-gant-1414467.jpg" class="card-img-top">
        </a>
        <div class="card-body">
          <p class="card-text fw-bold mb-1">Name of Event</p>
          <p class="card-text mb-0">Start</p>
          <p class="card-text">End</p>
        </div>
      </div>

      <div class="card m-3" style="width: 18rem;">
        <a href="http://www.google.com" target="_blank">
          <img src="../../../../assets/images/pexels-liam-gant-1414467.jpg" class="card-img-top">
        </a>
        <div class="card-body">
          <p class="card-text fw-bold mb-1">Name of Event</p>
          <p class="card-text mb-0">Start</p>
          <p class="card-text">End</p>
        </div>
      </div>

      <div class="card m-3" style="width: 18rem;">
        <a href="http://www.google.com" target="_blank">
          <img src="../../../../assets/images/pexels-liam-gant-1414467.jpg" class="card-img-top">
        </a>
        <div class="card-body">
          <p class="card-text fw-bold mb-1">Name of Event</p>
          <p class="card-text mb-0">Start</p>
          <p class="card-text">End</p>
        </div>
      </div>

      <div class="card m-3" style="width: 18rem;">
        <a href="http://www.google.com" target="_blank">
          <img src="../../../../assets/images/pexels-liam-gant-1414467.jpg" class="card-img-top">
        </a>
        <div class="card-body">
          <p class="card-text fw-bold mb-1">Name of Event</p>
          <p class="card-text mb-0">Start</p>
          <p class="card-text">End</p>
        </div>
      </div>

      <div class="card m-3" style="width: 18rem;">
        <a href="http://www.google.com" target="_blank">
          <img src="../../../../assets/images/pexels-liam-gant-1414467.jpg" class="card-img-top">
        </a>
        <div class="card-body">
          <p class="card-text fw-bold mb-1">Name of Event</p>
          <p class="card-text mb-0">Start</p>
          <p class="card-text">End</p>
        </div>
      </div>

      <div class="card m-3" style="width: 18rem;">
        <a href="http://www.google.com" target="_blank">
          <img src="../../../../assets/images/pexels-liam-gant-1414467.jpg" class="card-img-top">
        </a>
        <div class="card-body">
          <p class="card-text fw-bold mb-1">Name of Event</p>
          <p class="card-text mb-0">Start</p>
          <p class="card-text">End</p>
        </div>
      </div>

      <div class="card m-3" style="width: 18rem;">
        <a href="http://www.google.com" target="_blank">
          <img src="../../../../assets/images/pexels-liam-gant-1414467.jpg" class="card-img-top">
        </a>
        <div class="card-body">
          <p class="card-text fw-bold mb-1">Name of Event</p>
          <p class="card-text mb-0">Start</p>
          <p class="card-text">End</p>
        </div>
      </div>

      <div class="card m-3" style="width: 18rem;">
        <a href="http://www.google.com" target="_blank">
          <img src="../../../../assets/images/pexels-liam-gant-1414467.jpg" class="card-img-top">
        </a>
        <div class="card-body">
          <p class="card-text fw-bold mb-1">Name of Event</p>
          <p class="card-text mb-0">Start</p>
          <p class="card-text">End</p>
        </div>
      </div>

      <div class="card m-3" style="width: 18rem;">
        <a href="http://www.google.com" target="_blank">
          <img src="../../../../assets/images/pexels-liam-gant-1414467.jpg" class="card-img-top">
        </a>
        <div class="card-body">
          <p class="card-text fw-bold mb-1">Name of Event</p>
          <p class="card-text mb-0">Start</p>
          <p class="card-text">End</p>
        </div>
      </div>

      <div class="card m-3" style="width: 18rem;">
        <a href="http://www.google.com" target="_blank">
          <img src="../../../../assets/images/pexels-liam-gant-1414467.jpg" class="card-img-top">
        </a>
        <div class="card-body">
          <p class="card-text fw-bold mb-1">Name of Event</p>
          <p class="card-text mb-0">Start</p>
          <p class="card-text">End</p>
        </div>
      </div>

    </div>

    <!-- column 3 -->
    <div class="col-3 p-4" id="third-column">
      <h4 class="fw-bold pb-1">Name of Event</h4>
      <div id="home-event-details">
        <p class="text-secondary">Details</p>
        <p>Sports event</p>
        <p>Start 14-9-2021 14:00</p>
        <p>End 14-9-2021 19:30</p>
      </div>
      <p class="mt-3">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          Aperiam deleniti fuga necessitatibus quidem, quis voluptas voluptatem.
          Adipisci aliquid nihil tempora.
      </p>

    </div>

  </div>
</div>
