<div class="container-fluid bg-light" style="min-height: 100%">
  <div class="row">
    <!-- column 1 -->
    <div class="col-2 p-4">
      <p><b>Overview of all events:</b></p>
      <div class="list-group">
        <a *ngFor="let event of aEvents" (click)="onEventClicked(event)" href="#" [ngClass]="event == selectedAEvent ? 'active' : ''" class="list-group-item list-group-item-action">{{event.title}}</a>
      </div>
      <button (click)="onAddEvent()" type="button" class="m-2 bg-light btn btn-primary border-dark float-right">Add Event</button>
    </div>

    <!-- column 2 -->
    <div class="col bg-white d-flex flex-wrap w-100 default-panel">
      <app-detail2 [event]="selectedAEvent"></app-detail2>
    </div>
  </div>
</div>
