<div class="default-panel">
<div *ngIf="editedAEventId != -1; else noneSelected">
  <h3 class="m-2">{{getCurrentEvent().title}}</h3>
  <div class="card-body tab-content">
    <div class="tab-pane active" id="profile">
      <h6>Selected event details: (id={{getCurrentEvent().id}})</h6>
      <hr>
      <form>
        <div class="form-group">
          <label for="fullName">Title:</label>
          <input type="text" class="form-control" id="fullName"
            placeholder="Enter event title" name="{{getCurrentEvent().title}}" [(ngModel)]="getCurrentEvent().title">
        </div>
        <div class="form-group">
          <label for="bio">Description:</label>
          <textarea class="form-control autosize" id="bio" placeholder="Write something about the event" name="{{getCurrentEvent().description}}" [(ngModel)]="getCurrentEvent().description"></textarea>
        </div>
        <label for="inputState">State</label>
        <select id="inputState" class="form-control" [(ngModel)]="getCurrentEvent().status" name="state">
          <option selected>Choose...</option>
          <option *ngFor="let value of selectValues" [value]="value">{{value.valueOf()}}</option>
        </select>
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1" name="isTicketed" [(ngModel)]="getCurrentEvent().isTicketed">
          <label class="form-check-label" for="exampleCheck1">Is Ticketed</label>
        </div>

        <div class="form-group" *ngIf="getCurrentEvent().isTicketed">
          <label for="fullName">Participation fee:</label>
          <input type="number" class="form-control"
                 placeholder="Enter participation fee" name="{{getCurrentEvent().participationFee}}" [(ngModel)]="getCurrentEvent().participationFee">
        </div>

        <div class="form-group"  *ngIf="getCurrentEvent().isTicketed">
          <label for="fullName">Maximum participants:</label>
          <input type="number" class="form-control"
                 placeholder="Enter participation fee" name="{{getCurrentEvent().maxParticipants}}" [(ngModel)]="getCurrentEvent().maxParticipants">
        </div>

        <button (click)="onDeleteEvent()" type="button" class="m-2 bg-light btn btn-primary border-dark float-right">Delete Event</button>
      </form>
    </div>
  </div>
</div>

<ng-template #noneSelected><h3 class="m-2">Select an event at the left</h3></ng-template>
</div>
