<div class="container-fluid bg-light" style="min-height: 100%">
  <div class="row">
    <!-- column 1 -->
    <div class="col-2 p-4 event-list">
      <p><b>Overview of all events:</b></p>
      <div class="list-group">
        <a *ngFor="let event of events" (click)="onEventClicked(event)"
           [ngClass]="event.id == selectedAEventId ? 'active' : ''"
           class="list-group-item list-group-item-action">{{event.title}}</a>
      </div>
      <button (click)="onAddEvent()" type="button" class="m-2 bg-light btn btn-primary border-dark float-right">Add Event</button>
    </div>

    <!-- column 2 -->
    <div class="col bg-white d-flex flex-wrap w-100 default-panel">
      <app-detail5 #detail (cancelOutput)="cancelEvent($event)" (removeOutput)="removeEvent($event)"></app-detail5>
    </div>
  </div>
</div>
